body {
  font-family: "Trocchi", sans-serif;
  background-color: #000000;
  margin: 20px;
  align-items: center;
}

img {
  width: 300px;
  height: 300px;
  align-items: center;
}

h1 {
  color: whitesmoke;
  text-align: center;
}

h2{
  color: whitesmoke;
  text-align: center;
}

.container {
  margin: 1.25rem;
  max-width: 50rem;
}
.texts {
  color: white;
  font-family: "Trocchi", serif;
  font-weight: 200;
  font-style: normal;
  margin: 1.25rem;
  padding: 0.625rem;
  text-align: center;
}

.pgs {
  color: white;
  font-family: "Trocchi", serif;
  font-weight: 200;
  font-style: normal;
  margin: 1.25rem;
  padding: 0.625rem;
  text-align: center;
  word-break: break-all;
}

.pgs:before {
  content: open-quote;
  font-size: 2em;
  margin-right: 0.5em;
}

.pgs:after {
  content: close-quote;
  font-size: 2em;
  margin-left: 0.5em;
}
